.category-title {
    text-align: center;
    font-size: 2.5rem;
    margin: 40px 0;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.product-card {
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

.square-image {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 300px;
  background: #f4f4f4;
}

.product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 1.1rem;
    margin: 15px;
    color: #333;
}

.product-price {
    font-size: 1rem;
    font-weight: bold;
    margin: 0 15px 15px;
    color: #1f93cb;
}

.no-result {
    text-align: center;
    grid-column: 1 / -1; /* Ocupa todo el ancho del grid */
    padding: 50px 20px;
    font-size: 1.2rem;
    color: #777;
}
