.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 300px;
    height: 100%;
    background-color: var(--black);
    color: var(--white);
    transition: left 0.3s ease-in-out;
    z-index: 1100;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.side-menu.open {
    left: 0;
}

.side-menu-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1099; /* Un poco menos que el side-menu */
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.side-menu-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.close-btn {
    background: none;
    border: none;
    color: var(--white);
    font-size: 30px;
    cursor: pointer;
}

.side-menu-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.side-menu-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 0.3s;
}

.side-menu-links a:hover {
    opacity: 0.7;
}
