@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --black: #000000;
    --gray: #1a1a1a;
    --white: #ffffff;
    --accent-color: #ffffff;
    --border-color: #333333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--black);
  margin: 0;
  padding: 0;
}

#root {
  background-color: #f3f4f6; /* Admin background color */
  min-height: 100vh;
  overflow-x: hidden; /* Previene el desbordamiento horizontal */
}

#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.8s ease-out, visibility 0.8s;
}

.logo-loader {
  width: 200px;
  height: auto;
  animation: breathing 2s infinite ease-in-out;
}

@keyframes breathing {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

#site-wrapper {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.content-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
